<div id="appbar-tests">
  <h2>Tests for AppBar & Toolbar Components</h2>
  <RPaperAppBar @position="static">
    <RPaperToolbar>
      <div>My App Bar</div>
    </RPaperToolbar>
  </RPaperAppBar>
</div>