<div id="home">
  <h1>Welcome to Ember-Paper-React Test Page</h1>
  <div class="layout-column">
    <RPaperButton @href="alert">Alert Test Page</RPaperButton>
    <RPaperButton @href="app-bar">AppBar Test Page</RPaperButton>
    <RPaperButton @href="autocomplete">Autocomplete Test Page</RPaperButton>
    <RPaperButton @href="attributes">Attribute/Data Test Page</RPaperButton>
    <RPaperButton @href="avatar">Avatar Test Page</RPaperButton>
    <RPaperButton @href="badge">Badge Test Page</RPaperButton>
    <RPaperButton @href="button">Button Test Page</RPaperButton>
    <RPaperButton @href="card">Card Test Page</RPaperButton>
    <RPaperButton @href="checkbox-radio-switch">Checkbox/Radio/Switch Test Page</RPaperButton>
    <RPaperButton @href="chip">Chip Test Page</RPaperButton>
    <RPaperButton @href="circular-progress-backdrop">Progress Bar & Backdrop Test Page</RPaperButton>
    <RPaperButton @href="dialog">Dialog Test Page</RPaperButton>
    <RPaperButton @href="drawer">Drawer Test Page</RPaperButton>
    <RPaperButton @href="/icon">Icon Test Page</RPaperButton>
    <RPaperButton @href="menu">Menu Test Page</RPaperButton>
    <RPaperButton @href="misc">Misc Test Page</RPaperButton>
    <RPaperButton @href="paper">Paper Test Page</RPaperButton>
    <RPaperButton @href="select">Select Test Page</RPaperButton>
    <RPaperButton @href="snackbar">Snackbar Test Page</RPaperButton>
    <RPaperButton @href="tabs">Tabs Test Page</RPaperButton>
    <RPaperButton @href="text-field">TextField Test Page</RPaperButton>
    <RPaperButton @href="tooltip">Tooltip Test Page</RPaperButton>
    <RPaperButton @href="validations">Validations Test Page</RPaperButton>
  </div>
</div>